/*
	Name: The SHOOON tutorial
	Author: Thomas Nägele
	Version: 0.1

	Learn from it, use it, do whatever you like.
	If you create something cool, let me know.

	Twitter: @xon1c
	E-Mail: tn@intu.io
	*/

	body
	{
		background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
		background: -moz-linear-gradient(to right, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
	}

	.menubar
	{
		position: fixed;
		z-index: 9;
		width: 100vw;

		height:75px;
		padding-top:15px;
		box-shadow:0 12px 20px rgba(0,0,0,.9);

		background: -webkit-radial-gradient(center bottom, rgba(1, 4, 5, 0.8) 0%, rgba(160, 201, 215, 0) 70%), -webkit-linear-gradient(top, black 0%,#282F44 6%,#2C3551 52%,#354262 91%,#050C54 100%);
	}

	.menubar::before
	{
		content:"";
		position:absolute;
		background:-webkit-radial-gradient(center, rgb(255, 255, 255) 0%, rgba(3, 171, 228, 0) 80%);
		bottom:0;
		top:85px;
		left:100px;
		right:100px;
	}

	.menubar::after
	{
		content:"";
		position:absolute;
		background:-webkit-radial-gradient(center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
		background:-moz-radial-gradient(center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
		bottom:5px;
		top:76px;
		left:40px;
		right:40px;
	}

	.container
	{
		width:482px;
		margin:0 auto;
	}

	.btn
	{
		position:relative;
		margin:4px 40px;
		float:left;
		width:70px;
		height:45px;
		border:1px solid black;
		border-radius:8px;
		background: -webkit-linear-gradient(top,  #2c354e 0%,#576a97 100%);
		background: -moz-linear-gradient(top,  #2c354e 0%,#576a97 100%);
		z-index:2;
	}

	.btn-left
	{
		box-shadow:-2px -2px 9px rgba(0, 0, 0, 0.7),
		-4px -4px 20px rgba(0, 0, 0, 0.4);
		position: absolute;
		left: 4em;
	}

	.btn-right
	{
		box-shadow:2px -2px 9px rgba(0, 0, 0, 0.7),
		4px -4px 20px rgba(0, 0, 0, 0.4);
		position: absolute;
		right: 4em;
	}

	.btn::before
	{
		content:"";
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		border-top:1px solid #3E4970;
		border-bottom:1px solid #a7ddff;
		border-radius:8px;
		z-index:3;
	}

	.btn-left::before
	{
		border-left:1px solid #3E4970;
		border-right:1px solid #a7ddff;
	}

	.btn-right::before
	{
		border-right:1px solid #3E4970;
		border-left:1px solid #a7ddff;
	}

	.btn::after
	{
		content:"";
		position:absolute;
		top:1px;
		bottom:-1px;
		border-radius:9px;
		z-index:1;
	}

	.btn-left::after
	{
		right:-1px;
		left:1px;
		box-shadow:1px 1px 5px rgba(171, 255, 255, 0.8);
	}

	.btn-right::after
	{
		right:1px;
		left:-1px;
		box-shadow:-1px 1px 5px rgba(171, 255, 255, 0.8);
	}

	.back
	{
		position: relative;
		top: 6px;
		left: 50px;
		background: gray;
		width: 33px;
		height: 33px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		background: -webkit-linear-gradient(right bottom, #576a97 0%,#2c354e 100%);
		top: -moz-linear-gradient(left top, #2c354e 0%,#576a97 100%);
		z-index: 3;
		border-radius: 3px;
	}

	.back::before
	{
		content:"";
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	// border-bottom:1px solid #7987B4;
	border-left:1px solid #475380;
	border-radius:3px;
}

.btn i[class^='icon-']
{
	font-size: 2em;
	line-height: 45px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	color: #2B344E;
	z-index:6;
}

.btn i.icon-camera
{
	right: 8px;
	text-shadow: -1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

.btn i.icon-user
{
	right: 3px;
	text-shadow: 1px -1px 0px rgba(167, 221, 255, .8),1px 1px 2px black;
}

h1
{
	position: absolute;
	margin: 0;
	width: 50vw;
	text-align: center;
	font: italic 3em "Helvetica Neue";
	font-weight: lighter;
	text-transform: uppercase;
	float: left;
	letter-spacing: -6px;
	text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 3px 4px rgba(167, 221, 255, 1), 0 -6px 7px rgba(0, 0, 0, 0.5);
}

h1::before
{
	content:"Periodic-Vr";
	text-transform:uppercase;
	position:absolute;
	color:#fff;
	left:0;
	right:0;
}

h1::after
{
	content:"";
	text-transform:uppercase;
	position:absolute;
	color:#525b73;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	left:0;
	right:0;
}

/* THE FOLLOWING STYLES ARE NOT PART OF THE TUTORIAL */

.about
{
	text-align:center;
	font-family:"Helvetica Neue";
	width:300px;
	margin:2em auto;
	color:#f5f5f5;
	line-height:1.5em;
	text-shadow:0 1px 2px rgba(0,0,0,.8);
}

.about a
{
	color:#42c4eb;
	text-decoration:none;
	-webkit-transition:color .2s linear;
}

.about a:hover
{
	color:#eba742;
}

.about p + p
{
	font-size:1.5em;
}

small
{
	font-size:.5em;
}

@-moz-document url-prefix()
{
	h1
	{
		font-weight:200;
	}

	h1::after
	{
		color:#f5f5f5;
	}
}



.content {
  width:1170px;
  height:100%;
  margin:0px auto;
  font-size:15px;
  color:#565656;
  line-height:22px;
}

.header {
  background:#444444;
  padding:25px 0;
}

.header a {
  display: inline-block;
  padding-left:25px;
  color:#ffffff;
}

.header a em {
  margin-right:12px;
}

.box_wrapper {
  margin-top:100px;
  padding:25px 0;
  border-top:1px solid #ededed;
  border-bottom:1px solid #ededed;
  text-align: center;
}

.box_wrapper:after {
  content:'';
  display: block;
  clear: both;
}

.modal_box {
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
  opacity: 0;
  visibility: hidden;
}

.modal_box:after {
  content:'';
  display:block;
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background:rgba(0,0,0,0.5);
}

.modal_content {
  max-width:600px;
  margin: 0px auto;
  background:#ffffff;
  margin-top: 50px;
  border:1px solid #dddddd;
  box-shadow:0 0 5px #dddddd;
  border-radius:4px;
  position: relative;
  z-index:1;
  transition:all 0.4s linear;
  -webkit-transition:all 0.4s linear;
  transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
  opacity: 0;

}

.modal_header,.modal_footer,.modal_body {
  padding:15px;
  color:#565656;
}

.modal_header {
  border-bottom: 1px solid #dddddd;
}

.modal_footer {
  text-align: right;
  border-top:1px solid #dddddd;
}

.modal_footer a {
  display: inline-block;
  padding:10px 20px;
  background: skyblue;
  color:#ffffff;
  font-size:14px;
  border-radius: 5px;
}

.modal_body {
  font-size:14px;
  line-height: 22px;
}

.modal_box.active .modal_content {
  opacity: 1;
  transform:none;
  -webkit-transform:none;
}

.modal_box.active {
  opacity: 1;
  visibility: visible;
}

.modal_open {
  display: inline-block;
  background:#333333;
  padding:20px;
  color:#ffffff;
  font-size:17px;
  border-radius:4px;
}