

.content {
  width:1170px;
  height:100%;
  margin:0px auto;
  font-size:15px;
  color:#565656;
  line-height:22px;
}

.header {
  background:#444444;
  padding:25px 0;
}

.header a {
  display: inline-block;
  padding-left:25px;
  color:#ffffff;
}

.header a em {
  margin-right:12px;
}

.box_wrapper {
  margin-top:100px;
  padding:25px 0;
  border-top:1px solid #ededed;
  border-bottom:1px solid #ededed;
  text-align: center;
}

.box_wrapper:after {
  content:'';
  display: block;
  clear: both;
}
/*BEGIN MODAL*/

.modal_box {
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
  opacity: 0;
  visibility: hidden;
}

.modal_box:after {
  content:'';
  display:block;
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background:rgba(0,0,0,0);

}

.modal_content, .modal_box:before, .modal_box:after {
  width:25vw;
  position: absolute !important;
  max-width:600px;
  margin: 0px auto;
  margin-top: 50px;
  border-radius:4px;
  position: relative;
  z-index:1;
  transition:all 0.4s linear;
  -webkit-transition:all 0.4s linear;
  transform:translateX(-20%);
  -webkit-transform:translateX(-20%);
  opacity: 0;
  left: 0 !important;

}
.modal_content1, .modal_box1:before, .modal_box1:after {
  position: absolute !important;
  max-width:600px;
  margin: 0px auto;
  margin-top: 50px;
  border-radius:4px;
  position: relative;
  z-index:1;
  transition:all .8s linear;
  -webkit-transition:all .8s linear;
  transform:translateY(-20%);
  -webkit-transform:translateY(-20%);
  opacity: 0;
  left: 26vw !important;
}
.modal_header,.modal_footer,.modal_body {
  padding:15px;
  color:#565656;
}

.modal_header {
  border-bottom: 1px solid #dddddd;
}

.modal_footer {
  text-align: right;
  border-top:1px solid #dddddd;
}

.modal_footer a {
  display: inline-block;
  padding:10px 20px;
  background: skyblue;
  color:#ffffff;
  font-size:14px;
  border-radius: 5px;
}

.modal_body {
  font-size:14px;
  line-height: 22px;
}

.modal_box.active .modal_content {
  opacity: 1;
  transform:none;
  -webkit-transform:none;
}
.active {
  transition:all .4s linear;
  -webkit-transition:all .4s linear;
  opacity: 1 !important;
  visibility: visible !important;
}
.modal_box.active {
  opacity: 1;
  visibility: visible;
}

.modal_open {
  display: inline-block;
  background:#333333;
  padding:20px;
  color:#ffffff;
  font-size:17px;
  border-radius:4px;
}

.close {
  transition:all 0.4s linear;
  -webkit-transition:all 0.4s linear;
  opacity: 0;
}


.modal_header{
  color:white !important;

}
.modal_body  {

  color:white !important;
}
.gases {
  position: absolute;
  top: 0;
  right: -1em;
  text-align: right;
  opacity: 0;
  visibility: hidden;
}
/*END MODAL*/


/*START SLIDER*/
.slider {
  max-width: 400px;
  width: 70%;
  margin: 40px auto;
  z-index:1;
  position:absolute;
  top: 5vh;
  right:5em;
  color:white;
}

/* --- The Switch --- */
.flex {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  background-color: #ccc;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #444;
  box-shadow: inset 0 0 5px #999;
}

a {
  cursor: pointer;
  padding-bottom: 4px;
  background-color: inherit;
  flex-grow: 1;
  text-align: center;
  border-radius: 7px;
}

.selected {
  border: 1px solid #333;
  background-color: #666;
  color: white;
  box-shadow: inset 0 0 10px #555;
}

/* --- Heading Styles --- */

h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

h3:before,
h3:after {
  background-color: #ddd;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.6rem;
}

h3:before {
  margin-right: 10px;
}

h3:after {
  margin-left: 10px;
}

/*END SLIDER*/




/*START MEDIA QUERIES*/

@media (max-width: 812px) {
  .modal_box2, .modal_footer, .modal_body {
    display:none;
  }
  #gif {
    position: absolute;
    left: -24vh;
    margin-top: 42px;
  }

}
/* iphone 5 */
@media (min-width: 320px) and (orientation: portrait) {
  #preload {
    background-position-x: -98vw;
  }
  .gases {
    top: 17vh;
    right: -9.5em;
  }
  #gif{
    left: -15.5vh;
    max-width: 100vw;
  }
}
@media (max-width: 568px) and (orientation: landscape) {
  #gif {
    left: -34.5vh !important;
    margin-top: 33px;
    max-height: 100vh;
  }
  .gases{
    top: 9.5vh;
    font-size: .8rem;
    right: -8.7em;
    p {
      margin-top: .5em;
    }
  }
}
@media (min-width: 320px) {
  #preload {
    width:102vw;
  }
  .modal_content1 {
    margin-top: -30px;
  }
  .main-background > .img-size {
    display: block;
    margin-left: -23px !important;
    width: 116% !important;
    height: 102vh !important;

  }
  .main-background {
    width: 134vw !important;
    margin-left:-19vw !important;
    margin-top:-20px;
  }
  a[title='Full Screen'] + div {
    z-index: 9;
    left:44.5vw !important;
    top:84vh !important;
  }
}

/* iphone 6+*/
@media (min-width: 375px) and (orientation: portrait){
  .gases {
    top: 10vh;
    right: -10.5em;
  }
}
@media (min-width: 640px) and (orientation: landscape){
  #gif {
    left: -56vh !important;
    top: 39px !important;
    left: -24vh !important;
    max-height:100vh;
    margin-top:0;
  }
  .gases {
    top: 10.4vh;
    font-size: 0.8rem;
    right: -9.1em;
  }
  .main-background {
    width: 111vw !important;
    margin-left: -53px !important;
  }
  .img-size {
    height:102vh !important;
  }
  .modal_content1 {
    margin-top: -40px;
  }
  a[title='Full Screen'] + div {
    left:47.3vw !important;
    top: 88vh !important;
    z-index: 9;
  }
}
@media (max-width: 667px) and (orientation: landscape){
  .gases {
    top: 10.4vh;
    font-size: 0.8rem;
    right: -9.9em !important;
  }
}
@media (min-width: 808px) {
  .main-background {
    width: 111vw !important;
    margin-left: -10.5vw !important;
    margin-top: 20px !important;
  }
  a[title='Full Screen'] + div {
    position: absolute;
    z-index: 9;
    left:48.8vw !important;
    top: 90vh !important;
  }
  .modal_content1 {
    margin-top: 19vh;
    left: 34.5vw !important;
    z-index:10;
  }
}
@media (max-width: 568px) and (orientation: landscape){
  a[title='Full Screen'] + div {
    left: 48vw !important;
  }
}

/*IPAD MEDIA QUERIES*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  #preload {
    background-position-x: -150px;
  }
  .modal_box2 {
    display: none;
  }
  .main-background {
    margin-left: -9vw !important;
  }
  .modal_content1, .modal_box1:before, .modal_box1:after {
    margin-top:120px;
    left: 26vw !important;
  }
  .gases {
    top: 0.5vh;
    font-size: 0.9rem;
    right: -11.5em;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  #preload {
    background-position-x: -65vw;
  }
  .modal_box2 {
    display: none;
  }
  .modal_content1, .modal_box1:before, .modal_box1:after {
    margin-top: 1px !important;
    left: 18vw !important;
  }
  .main-background {
    width: 130vw !important;
  }
  a[title='Full Screen'] + div {
    left:48vw !important;
  }
  #gif {
    left: 0vh;
    top: 11vh;
  }
  .gases {
    top: 15vh;
    right: -14.5em;
  }

}

/*END IPAD MEDIA QUERIES*/

/* laptop media query*/
@media only screen
and (min-device-width : 1025px) {
  .gases {
    top: 0.1vh;
    font-size: 1rem;
    right: -0.5em;
  }
}
/*END MEDIA M QUERIES*/


.main-background {
  min-width:100%;
  min-height:100%;
  width: 100vw;
  height:106vh;
  overflow:none;
  margin:0;
  padding:0;
  border:0;
  margin-left: 0;
  margin-top: 0;
  transform: rotateZ(0deg);
  animation: tilt 18s infinite;

}

@keyframes tilt {
  0% {
    transform: rotateZ(0deg);

  }
  25% {
    transform: rotateZ(1deg);

  }
  65% {
    transform: rotateZ(-1deg);

  }
  100% {
    transform: rotateZ(0deg);

  }
}
.main-background {

  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:fixed;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#preload {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.img-size {
  display:block;
  width:100%;
  height:auto;
}

* {
  overflow:none !important;
}
