// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
span.content > img {
  display: none;
}


span.content > img[src$=".jpg"] {
  height:350px;
  width:350px;
}
span.content > img[src$=".jpeg"] {
  height:350px;
  width:350px;
}
span.content > img[src$=".gif"] {
  height:350px;
  width:350px;
}
span.content > img[src$=".png"] {
  height:350px;
  width:350px;
}