<footer class="footer">
  <small>
    The Rezoome App
    by <a href="https://www.linkedin.com/in/fang-wen-shen/">Fang-Wen Shen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/fang-w-shen">Github</a></li>
    </ul>
  </nav>
</footer>